/*==================================
=            ESENCIALES            =
==================================*/
* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  user-select: none;
  font: 16px "Roboto", sans-serif;
}
/*===================================
=            COMPONENTES            =
===================================*/
div.w3-bottom a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  max-width: 90px;
  max-height: 90px;
}
.formularioModal {
  max-width: max-content;
  min-height: max-content;
  max-height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.formularioModal::-webkit-scrollbar {
  width: 8px;
  background: #fff;
}
.formularioModal::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #2196f3;
}
.tooltip-container {
  position: relative;
}
.tooltip-container:hover .tooltip {
  opacity: 1;
}
.tooltip-container .tooltip {
  font-size: 14px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 #000, 0 2px 10px 0 #000;
  padding: 4px 8px;
  text-align: center;
  border-radius: 8px;
  position: absolute;
  top: 85%;
  left: -50%;
  min-width: max-content;
  transition: opacity 0.25s;
  opacity: 0;
  z-index: 100;
}
/*===============================
=            AJUSTES            =
===============================*/
.input-radio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 15px;
}
.w3-input:focus {
  outline: none;
}
.w3-main {
  margin-left: 255px;
  margin-top: 43px;
}
.centrado {
  display: inline-block;
  margin: auto;
}
.w3-blue {
  background-color: #223a5e !important;
  transition: 0.25s all;
}
.w3-border-blue {
  border-color: #223a5e !important;
}
.w3-text-blue {
  color: #223a5e !important;
}
.w3-red {
  background-color: #a6001a !important;
  transition: 0.25s all;
}
.w3-border-red {
  border-color: #a6001a !important;
}
.w3-text-red {
  color: #a6001a !important;
}
.w3-teal {
  background-color: #006e6d !important;
  transition: 0.25s all;
}
.w3-border-teal {
  border-color: #006e6d !important;
}
.w3-text-teal {
  color: #006e6d !important;
}
.w3-button {
  transition: 0.25s all;
}
.icon-edit {
  color: #fff;
}
@media screen and (max-width: 600px) {
  #formClave .icon-eye,
  #form-Clave .icon-eye-slash {
    position: absolute;
    top: -4.5px;
  }
}
