:root{
	--primario       : #2196f3;
	--primario-oscuro: #00796B;
	--negro          : #212121;
	--gris           : #455a64;
	--gris-clar      : #f5f5f5;
	--rojo-oscuro    : #D32F2F;
	--error          : #d32f2f;
}

body {
	font-size: 16px;
	user-select: none;
	scrollbar-width: 10px;
	scrollbar-color: #2196f3;
}

body::-webkit-scrollbar{
	width: 10px;
	background: linear-gradient(to bottom, black, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1) black;
}

#mySidebar::-webkit-scrollbar{
	width: 8px;
	background: white;
}

body::-webkit-scrollbar-thumb,
#mySidebar::-webkit-scrollbar-thumb{
	border-radius: 50px;
	background: #2196f3;
}

main{
	margin-left: 255px;
	margin-top: 43px;
}


main section a{
	text-decoration: none;
}

main section.w3-section img{
	width: 96px;
	height: 96px;
}

#mySidebar{
	z-index: 3;
	width: 255px;
	scrollbar-width: 13px;
	scrollbar-color: #2196f3;
}

#mySidebar img{
	min-width: 46px;
	max-width: 46px;
	min-height: 46px;
	max-height: 46px;
	object-fit: cover !important;
}

#myOverlay{
	cursor: pointer;
}

summary{
	padding: 8px 16px;
	width: auto;
	border: none;
	outline: 0
}

.incorrecto::placeholder{
	color: var(--rojo-oscuro);
}

.formularioModal {
	max-width: max-content;
	max-height: max-content;
	position: fixed;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}