/*==================================
=            ESENCIALES            =
==================================*/
@import "variables"
@import "generales"

/*===================================
=            COMPONENTES            =
===================================*/
@import "tablas"
@import "details"
@import "botonesFijos"
@import "modales"
@import "tooltip"
@import "fotos"

/*===============================
=            AJUSTES            =
===============================*/
@import "ajustes"