.formularioModal
	max-width: max-content
	min-height: max-content
	max-height: 100vh
	overflow: auto
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 10

.formularioModal::-webkit-scrollbar
	width: 8px
	background: white

.formularioModal::-webkit-scrollbar-thumb
	border-radius: 50px
	background: #2196f3