Options All -Indexes

ErrorDocument 404 /licoreria/sistema/index.php
ErrorDocument 403 /licoreria/sistema/salir.php
ErrorDocument 500 /licoreria/sistema/salir.php

<files .htaccess>
order allow,deny
deny from all
</files>

php_value max_execution_time 100
php_value post_max_size 20M
php_value upload_max_filesize 50M