includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - storage/cache/phpstan-baseline.neon

parameters:
  level: 1
  paths:
    - app
    - backend
    - index.php
    - dashboard.php
    - salir.php
    - views
    - templates
