::-webkit-scrollbar
	width: 20px
	
::-webkit-scrollbar-track
	box-shadow: inset 2.5px 0 10px lighten(grey, 25)
	border-radius: 15px

::-webkit-scrollbar-thumb
	background: teal
	border-radius: 15px
	&:hover
		background: darken(teal, 5)