:root {
	--primario: #2196f3;
	--primario-oscuro: #0a69b5;
	--negro: #212121;
	--gris: #455a64;
	--gris-clar: #f5f5f5;
	--rojo-oscuro: #D32F2F;
	--error: #d32f2f;
}

* {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	user-select: none;
	scrollbar-width: 10px;
	scrollbar-color: #2196f3;
}

body::-webkit-scrollbar {
	width: 10px;
	background: linear-gradient(to bottom, black, #f1f1f1, #f1f1f1, #f1f1f1, #f1f1f1) black;
}

#mySidebar::-webkit-scrollbar,
.formularioModal::-webkit-scrollbar {
	width: 8px;
	background: white;
}

body::-webkit-scrollbar-thumb,
#mySidebar::-webkit-scrollbar-thumb,
.formularioModal::-webkit-scrollbar-thumb{
	border-radius: 50px;
	background: #2196f3;
}

main {
	margin-left: 255px;
	margin-top: 43px;
}

main section a {
	text-decoration: none;
}

main section.w3-section img {
	width: 96px;
	height: 96px;
}

#mySidebar {
	z-index: 3;
	width: 255px;
	scrollbar-width: 13px;
	scrollbar-color: #2196f3;
}

#mySidebar img {
	min-width: 46px;
	max-width: 46px;
	min-height: 46px;
	max-height: 46px;
	object-fit: cover !important;
}

#myOverlay {
	cursor: pointer;
}

summary {
	padding: 8px 16px;
	width: auto;
	border: none;
	outline: 0
}

.enlacesFooter{
	cursor: pointer;
}

.enlacesFooter:hover{
	color: lightgray;
}

.incorrecto::placeholder {
	color: var(--rojo-oscuro);
}

.formularioModal {
	max-width: max-content;
	min-height: max-content;
	max-height: 100vh;
	overflow-y: auto;
	position: fixed !important;
	margin: auto !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	z-index: 10 !important;
}

.input {
	background: white;
	outline: thin solid var(--negro);
	position: relative;
}

.input input[type="text"], 
.input input[type="number"],
.input input[type="password"],
.input select{
	width: 100%;
	padding: .62em 3.75em .62em 3.12em;
	border: none;
	background: transparent;
	font-size: .75em;
	font-weight: bold;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.input select:focus{
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
	display: none;
}

.input input::placeholder {
	font-weight: normal;
	font-style: italic;
}

.input .incorrecto::placeholder {
	color: var(--error);
}

.input input:focus {
	outline: none;
}

input[type="submit"] {
	background: var(--primario);
	color: white;
	cursor: pointer;
	font-family: var(--fuente);
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 0 .5em;
	position: relative;
}

input[name="registrar"]{
	padding: .5em 5em;
}

input[type="submit"]:hover {
	background: var(--primario-oscuro);
}

.icono {
	width: 1.25em;
	height: 100%;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--primario);
	border-right: thin solid var(--negro);
	position: absolute;
}

.ver {
	font-size: 1.25em;
	position: absolute;
	right: .62em;
	top: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}