#login img {
  height: 75px;
}
@media (max-width: 400px) {
  #login img {
    height: 50px;
  }
}
#manual {
  min-width: 75vw;
}
#manual li {
  padding: 0;
}
@media (min-width: 993px) {
  ul.w3-bottombar.w3-leftbar {
    border-bottom: 0 solid transparent !important;
  }
}
@media (max-width: 600px) {
  ul.w3-bottombar.w3-leftbar {
    border-width: 0 !important;
  }
}
@media (max-width: 600px) {
  #moduloPerfil div.w3-padding-top-24 {
    padding-top: 0.5rem !important;
    width: max-content;
    width: -moz-max-content;
    margin-left: auto;
    border-width: 0 !important;
  }
}
@media (max-width: 600px) {
  #moduloNegocios .w3-leftbar {
    border-width: 0 !important;
  }
}
@media (max-width: 600px) {
  #moduloNegocios footer {
    right: 0;
  }
}
@media (max-width: 600px) {
  #moduloNegocios button[onclick] {
    margin-top: 16px;
  }
}
#typed-container {
  cursor: pointer;
}
.w3-overlay {
  cursor: pointer;
  z-index: 999;
}
.icon-spinner {
  text-shadow: -2px 2px 10px #fff;
}
main a {
  text-decoration: none;
}
main > .loader {
  display: none;
  width: max-content;
  width: -moz-max-content;
  position: fixed;
  top: calc(50vh - 5vw);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1001;
}
main > .loader i {
  font-size: 10vw;
}
@media (max-width: 600px) {
  main > .loader i {
    font-size: 25vw;
  }
}
main.showLoader > .loader {
  display: inline-block;
}
div#acercaDe {
  max-width: 650px;
}
@media (max-width: 600px) {
  main#mainLogin {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
main#mainLogin aside.w3-hide-small,
main#mainLogin form#login {
  margin: 20px 20px;
  height: calc(100vh - 40px);
  overflow: auto;
}
@media (max-width: 600px) {
  main#mainLogin aside.w3-hide-small,
  main#mainLogin form#login {
    height: auto;
    max-height: calc(100vh - 40px);
  }
}
main#mainLogin aside.w3-hide-small label,
main#mainLogin form#login label {
  transition: none;
}
@media (max-width: 600px) {
  main#mainLogin aside.w3-hide-small label,
  main#mainLogin form#login label {
    border-width: medium !important;
  }
}
main#mainLogin aside.w3-hide-small input[type="radio"]:checked + label,
main#mainLogin form#login input[type="radio"]:checked + label {
  border-color: #2196f3 !important;
}
@media (max-width: 600px) {
  main#mainLogin aside.w3-hide-small #clave,
  main#mainLogin form#login #clave {
    padding-right: 50px;
  }
}
aside.w3-hide-small {
  background: url("../assets/fondo.jpg") left / cover no-repeat;
}
.icon-eye,
.icon-eye-slash {
  cursor: pointer;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
