details [class^='icon-chevron'] {
  transform: rotate(0deg);
}
details div {
  height: 0;
  overflow: hidden;
}
details summary {
  cursor: pointer;
}
details summary::marker {
  content: none;
}
details.abierto div {
  height: auto;
}
details.abierto [class^='icon-chevron'] {
  transform: rotate(90deg);
}
