.reloj .fecha,
.reloj .hora {
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-weight: bold;
  padding: 20px;
  margin: 5px 0;
}
.reloj .hora {
  font-size: 2rem;
  text-align: center;
}
.reloj .hora b:last-child {
  font-size: 1.25rem;
}
