.tooltip-container {
  position: relative;
  z-index: 997;
}
.tooltip-container * {
  position: relative;
  z-index: 997;
}
.tooltip-container .tooltip {
  display: none;
  width: max-content;
  width: -moz-max-content;
  max-width: 300px;
  position: absolute;
  bottom: 0;
  z-index: 998;
  background: #fff;
}
.tooltip-container:hover .tooltip {
  display: block;
}
