/*==============================
=            ROBOTO            =
==============================*/
@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-Black.ttf');
	font-weight: bolder;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-Light.ttf');
	font-weight: lighter;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-BlackItalic.ttf');
	font-style: italic;
	font-weight: bolder;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-BoldItalic.ttf');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: 'Roboto';
	src: url('Roboto/Roboto-LightItalic.ttf');
	font-style: italic;
	font-weight: lighter;
}

/*=====  End of ROBOTO  ======*/

/*==============================
=            OSWALD            =
==============================*/
@font-face {
	font-family: "Oswald";
	src: url("Oswald/static/Oswald-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Oswald";
	src: url("Oswald/static/Oswald-Light.ttf");
	font-weight: lighter;
}

@font-face {
	font-family: "Oswald";
	src: url("Oswald/static/Oswald-Regular.ttf");
}

/*=====  End of OSWALD  ======*/

.roboto
	font-family: 'Roboto'

.oswald
	font-family: 'Oswald'