doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='author' content='Franyer Sánchez, Daniel Mancilla')
		meta(name='description' content='Sistema Automatizado para Gestión de Compras y Ventas')
		meta(name='theme-color' content='black')
		title LicoSys
		
		link(rel='icon' href='assets/images/logo.png')
		link(rel='stylesheet' href='assets/icons/fontawesome.min.css')
		link(rel='stylesheet' href='assets/libraries/w3/w3.min.css')
		link(rel='stylesheet' href='assets/libraries/animate.min.css')
		link(rel='stylesheet' href='assets/libraries/tooltips.min.css')
		link(rel='stylesheet' href='assets/fonts/fuentes.css')
		
		//- link(rel='stylesheet' href='css/login.css')
		link(rel='stylesheet' href='css/main.css')
			
		script(src='assets/libraries/w3/w3.min.js')
		script(src='assets/libraries/axios.min.js')
		script(src='assets/libraries/sweetalert2/sweetalert2.all.min.js')
		//- script(src='js/funciones.js' defer)
		script(src='js/bundle.js' defer)