.input-radio
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 15px;

.w3-input:focus
	outline: none;

.w3-main
	margin-left: 255px;
	margin-top: 43px;

.centrado
	display: inline-block;
	margin: auto;

.w3-blue
	background-color #223a5e !important;
	transition: .25s all;

.w3-border-blue
	border-color #223a5e !important;

.w3-text-blue
	color: #223a5e !important;

.w3-red
	background-color #a6001a !important;
	transition: .25s all;

.w3-border-red
	border-color #a6001a !important;

.w3-text-red
	color: #a6001a !important;

.w3-teal
	background-color #006E6D !important;
	transition: .25s all;

.w3-border-teal
	border-color #006E6D !important;

.w3-text-teal
	color: #006E6D !important;

.w3-button
	transition: .25s all;

.icon-edit
	color: #fff;

@media screen and (max-width: 600px)
	#formClave .icon-eye,
	#form-Clave .icon-eye-slash
		position: absolute;
		top: -4.5px;