.w3-padding-top-16 {
	padding-top: 16px;
}

.w3-display-zoom {
	font-size: 1px !important;
	transform: scale(.1) translate(-50%, -50%);
	transition: .3s ease all;
}

.w3-display-container:hover .w3-display-zoom {
	transform: scale(1) translate(-50%, -50%);
	font-size: 48px !important;
}

.w3-width-auto {
	max-width: max-content;
	max-height: max-content;
}