.invalido
	border-color: red !important
	*[class^='icon']
		color: red
	input::placeholder
		color: red
	.icon-close
		display: block !important

.valido
	border-color: green !important
	*[class^='icon']
		color: green
	.icon-check
		display: block !important