.modal
	padding: 10px
	max-width: max-content
	max-width: -moz-max-content
	height: max-content
	height: -moz-max-content
	max-height: 90vh
	overflow: auto
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 1000
	&::-webkit-scrollbar
		width: 8px
		background: white
	&::-webkit-scrollbar-thumb
		border-radius: 50px
		background: #2196f3