.modal
	max-width: max-content
	min-height: max-content
	color: black
	background white
	border-radius: 16px
	padding: 8px 16px
	box-shadow 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%)
	max-height: 95vh
	overflow: auto
	position: fixed
	top: 2.5vh
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 10

.modal::-webkit-scrollbar
	width: 8px
	background: white

.modal::-webkit-scrollbar-thumb
	border-radius: 50px
	background: #2196f3