.reloj
	.fecha,
	.hora
		background: rgba(0, 0, 0, .5)
		color: white
		font-weight: bold
		padding: 20px
		margin: 5px 0
	.hora
		font-size: 2rem
		text-align: center
		b:last-child
			font-size: 1.25rem