.no-scroll {
	overflow: hidden !important;
}

.scroll {
	max-height: 95vh;
	overflow-y: auto !important;
}

.scroll::-webkit-scrollbar
	width: 8px
	background: white

.scroll::-webkit-scrollbar-thumb
	border-radius: 50px
	background: #2196f3