.tooltip-container
	position: relative
	z-index: 997
	*
		position: relative
		z-index: 997
	.tooltip
		display: none
		width: max-content
		width: -moz-max-content
		max-width: 300px
		position: absolute
		bottom: 0
		z-index: 998
		background: white
	&:hover .tooltip
		display: block