/*==================================
=            ESENCIALES            =
==================================*/
@import 'components/variables'
@import 'components/generales'

/*===================================
=            COMPONENTES            =
===================================*/
@import 'components/tablas'
@import 'components/details'
@import 'components/botonesFijos'
@import 'components/modales'
@import 'components/tooltip'
@import 'components/fotos'
@import 'components/loader'

/*===============================
=            AJUSTES            =
===============================*/
@import 'components/ajustes'

@import 'components/login'