@import 'icons/style.styl'
@import 'fonts/fonts.styl'
@import 'libs/w3.styl'
@import 'libs/animate.styl'

/*==================================
=            ESENCIALES            =
==================================*/
// @import 'components/variables'
@import 'components/generales'

/*===================================
=            COMPONENTES            =
===================================*/
@import 'components/extend_w3.styl'
// @import 'components/tablas'
// @import 'components/details'
// @import 'components/botonesFijos'
// @import 'components/tooltip'
// @import 'components/fotos'
@import 'components/loader.styl'
@import 'components/inputs.styl'
@import 'components/botones.styl'
@import 'components/scroll.styl'
@import 'components/modals.styl'

/*===============================
=            AJUSTES            =
===============================*/
@import 'components/ajustes'

// @import 'components/login'