// @import '../node_modules/nib/lib/nib/index.styl'

@import 'generales.styl'
@import 'components/modals.styl'
@import 'components/loader.styl'
@import 'components/steps.styl'
@import 'components/inputs.styl'

@import 'ajustes.styl'