/**
 * PLUGINS
 */
@import 'nib'
@import 'stylus-px2rem'

/*==================================
=            ESENCIALES            =
==================================*/
@import 'extend_w3'
@import 'variables'
@import 'generales'

/*===================================
=            COMPONENTES            =
===================================*/
@import 'botonesFijos'
@import 'modales'
@import 'tooltip'
@import 'loader'

/*===============================
=            AJUSTES            =
===============================*/
@import 'ajustes'