/**
 * PLUGINS
 */
// @import 'nib'
@import 'stylus-px2rem'

@import 'includes/generales'
@import 'includes/custom_scroll'
@import 'includes/extend_w3'
@import 'includes/loader'

@import 'includes/ajustes'